nav ul {
  list-style-type: none;
  width: 100vw;
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  
}

.display-4 {
  padding: 0px;
  margin-top: 100px;
  margin-left: 50px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.jumbotron {
  height: 490px;
}

.lead {
  padding: 0px;
  margin-top: 5px;
  margin-left: 52px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.btn {
  float: left;
  margin-left: 10px;
  width: 120px;
}

.buttons-container {
   text-align: center;
}

.buttons {
  display: inline-block;
}